$normalbg:#fff;
$servicelinebg:#f1eee9;
$servicehoverbg:#c7b299;
$purchasebutton:#998675;
$purchasebox:#736357;
$projectbutton:#ebebeb;
$projectitembg:#fbfaf8;
$projecthoverbg:#362f2d;
$recentbg:#363636;
$recentbg2:#252525;
$recenthoverbg:#a48d72;
$footerbg:#191919;